<?xml version="1.0" encoding="UTF-8"?>


<config>
	<modules>
		<Magentocreation_Module>
			<version>0.1.2</version>
		</Magentocreation_Module>
	</modules>
	<frontend>
		<routers>
			<monrouteur>
				<use>standard</use>
				<args>
					<module>Magentocreation_Module</module>
					<frontName>module</frontName>
				</args>
			</monrouteur>
		</routers>
		<layout>
			<updates>
				<monrouteur>
					<file>aveclayout.xml</file>
				</monrouteur>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magentocreation_Module>
					<files>
						<default>Magentocreation_Module.csv</default>
					</files>
				</Magentocreation_Module>	
			</modules>
		</translate>
	</frontend>
	<global>
		<blocks>
			<module>
				<class>Magentocreation_Module_Block</class>
			</module>
		</blocks>
		<helpers>
			<module>
				<class>Magentocreation_Module_Helper</class>
			</module>
		</helpers>
		<models>
			<module>
				<class>Magentocreation_Module_Model</class>
				<resourceModel>module_mysql4</resourceModel>
			</module>
			<module_mysql4>
				<class>Magentocreation_Module_Model_Mysql4</class>
				<entities>
					<module>
						<table>point_de_vente</table>
					</module>
				</entities>
			</module_mysql4>
		</models>
		<resources>
			<module_setup>
				<setup>
					<module>Magentocreation_Module</module>
					<class>
					Magentocreation_Module_Model_Resource_Mysql4_Setup
					</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</module_setup>
			<module_write>
				<connection>
					<use>core_write</use>
				</connection>
			</module_write>
			<module_read>
				<connection>
					<use>core_read</use>
				</connection>
			</module_read>
		</resources>
	</global>
</config>
